// colors
$color-primary:#47b7d3;
$color-yellow:#fdd035;
$color-yellow-light:#fff063;
$color-blue:#47b7d3;
$color-blue-dark:#4d998e;
$color-blue-light:#9dc9bd;
$color-blue-light2:#85c2c7;
$color-gray:#bebebd;
$color-gray2:#999;
$color-gray3:#333;
$color-gray4:#eee;
$color-gray5:#dbdcdc;
$color-gray6:#adadad;
$color-gray7:#666;